
/*Código armado por La Foca Loca S.A. No modificar*/
body {
  font-family: Arial, sans-serif;
  width: 940px;
  margin: 2% auto;
  max-height: 100%;
  background-image: url("../images/paisaje.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
ul {
  padding-left: 0;
  list-style: none;
}
li {
  padding: 5px 0;
}
li::before {
  content: "• ";
  color: #EC6778;
}

.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}
.col-40 {
  background: #FFF;
  padding: 20px;
  color: #000;
}

#juego div {
  text-align: center;
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/*Aca comienza la fista del diseño!!*/

body {
  max-height: 940px;
}
h1, h2 {
  margin: 0.5em;
}
#miniFoto {
  display: block;
  height: 60%;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#botonera {
  box-sizing: content-box;
  font-size: 20px;
  padding-top: 0%;
  text-align: center;
}
.col-60 {
  align-content: center;
  box-sizing: border-box;
  width: 60%;
  height: 60%;
  max-height: 60%;
  max-width: 60%;
  border-bottom: 2px solid #000;  
}
#juego {
  margin: auto;
}
#juego div {
  float: left;
  margin: auto;  
  width: 33.333%;
  height: 33.333%;
  box-sizing: border-box;
}
#juego div img {
  max-width: 100%;
  display: block;
}
footer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  float: none;
  background-color: black;
  color: white;
}
footer p {
  margin: 0px auto;
  padding: 0.5%;
}
a:link {
  color: white;
  text-decoration-color: none;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: underline;
}
a:visited {
  color: white;
  background-color: white;
}
